<div class="tui-text_h4 tui-space_top-5">Справочники</div>
<div [style.display]="'flex'" [style.align-items]="'end'">
  <tui-textfield tuiChevron class="tui-space_top-5" [style.width]="'25rem'">
    <input tuiSelect [(ngModel)]="selectedReference" />
    <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="references" />
  </tui-textfield>
  <ng-container
    *ngIf="selectedReference && selectedReference !== 'Выберите справочник...'"
  >
    <button
      class="tui-space_left-5"
      size="l"
      tuiButton
      type="button"
      [style.background-color]="'#E4002B'"
      [style.color]="'#fff'"
      [style.aspect-ratio]="'1'"
      (click)="createReferenceItem(selectedReference)"
    >
      <tui-icon icon="@tui.plus"></tui-icon>
    </button>
  </ng-container>
</div>

<ng-container [ngSwitch]="selectedReference">
  <ng-template [ngSwitchCase]="'Типы гостиничных номеров'">
    <app-room-categories #roomCategoriesComponent></app-room-categories>
  </ng-template>

  <ng-template [ngSwitchCase]="'Гостиничные номера'">
    <app-rooms #roomsComponent></app-rooms>
  </ng-template>

  <ng-template ngSwitchDefault>
    <div class="not-found-message">Справочник не найден</div>
  </ng-template>
</ng-container>
