<aside
  [style.background-color]="'#E4002B'"
  [style.z-index]="'0'"
  [tuiNavigationAside]="true"
>
  <header>
    <img
      src="../../assets/images/company-logo.svg"
      alt="logo"
      class="logo"
      [style.margin]="'1rem'"
      [routerLink]="'/dashboard/home'"
      [style.cursor]="'pointer'"
    />
  </header>

  <a
    *ngIf="isMenuItemVisible('Заявки')"
    iconStart="@tui.send"
    tuiAsideItem
    [routerLink]="'/dashboard/requests'"
    >Заявки</a
  >

  <a
    *ngIf="isMenuItemVisible('Бронирования')"
    iconStart="@tui.book-open-check"
    tuiAsideItem
    [routerLink]="'/dashboard/bookings'"
    >Бронирования</a
  >

  <a
    *ngIf="isMenuItemVisible('Номера')"
    iconStart="@tui.key-round"
    tuiAsideItem
    [routerLink]="'/dashboard/search-rooms'"
    >Номера</a
  >

  <a
    *ngIf="isMenuItemVisible('Уборка')"
    iconStart="@tui.paintbrush"
    tuiAsideItem
    [routerLink]="'/dashboard/cleanings'"
    >Уборка</a
  >

  <a
    *ngIf="isMenuItemVisible('Аналитика')"
    iconStart="@tui.chart-line"
    tuiAsideItem
    [routerLink]="'/dashboard/analytics'"
    >Аналитика</a
  >

  <a
    *ngIf="isMenuItemVisible('Справочники')"
    iconStart="@tui.book-marked"
    tuiAsideItem
    [routerLink]="'/dashboard/references'"
    >Справочники</a
  >
  <hr />
  <tui-aside-group>
    <button
      automation-id="setting"
      iconStart="@tui.settings"
      tuiAsideItem
      tuiChevron
      type="button"
    >
      Настройки
      <ng-template>
        <button tuiAsideItem type="button" [routerLink]="'/dashboard/profile'">
          Профиль
        </button>
        <button
          tuiAsideItem
          type="button"
          iconEnd="@tui.log-out"
          (click)="logout()"
        >
          Выход
        </button>
      </ng-template>
    </button>
  </tui-aside-group>

  <footer>
    <div class="role" tuiAsideItem [routerLink]="'/dashboard/profile'">
      <div class="role__icon">
        <tui-icon icon="@tui.user-round" [style.font-size.rem]="2" />
      </div>
      <div class="role__name">
        {{ (currentUser$ | async)?.jobPosition?.jobTitle }}
      </div>
    </div>
  </footer>
</aside>
