<aside 
  [style.background-color]="'#E4002B'"
  [style.z-index]="'0'"
  [tuiNavigationAside]="true">
  <header>
    <img src="../../assets/images/company-logo.svg" alt="logo" class="logo" [style.margin]="'1rem'">
  </header>

  <a iconStart="@tui.send" tuiAsideItem [routerLink]="'/dashboard/requests'">Заявки</a>

  <a iconStart="@tui.book-open-check" tuiAsideItem [routerLink]="'/dashboard/bookings'">Бронирования</a>

  <a iconStart="@tui.key-round" tuiAsideItem [routerLink]="'/dashboard/search-rooms'">Номера</a>

  <a iconStart="@tui.paintbrush" tuiAsideItem [routerLink]="'/dashboard/cleaning'">Уборка</a>

  <a iconStart="@tui.chart-line" tuiAsideItem [routerLink]="'/dashboard/analytics'">Аналитика</a>

  <a iconStart="@tui.book-marked" tuiAsideItem [routerLink]="'/dashboard/references'">Справочники</a>
  <hr />
    <tui-aside-group>
      <button automation-id="setting" iconStart="@tui.settings" tuiAsideItem tuiChevron type="button">
        Настройки
        <ng-template>
          <button tuiAsideItem type="button">Профиль</button>
          <button tuiAsideItem type="button">Уведомления</button>
          <button tuiAsideItem type="button" iconEnd="@tui.log-out">Выход</button>
        </ng-template>
      </button>
    </tui-aside-group>
<!-- 
    <div class="role" tuiAsideItem [style.margin-top]="'10rem'">
      <div class="role__icon">
        <tui-icon icon="@tui.user-round" [style.font-size.rem]="2"/>
      </div>
      <div class="role__name">
        Управляющий
      </div>
    </div> -->

    <footer>
      <div class="role" tuiAsideItem>
        <div class="role__icon">
          <tui-icon icon="@tui.user-round" [style.font-size.rem]="2"/>
        </div>
        <div class="role__name">
          Управляющий
        </div>
      </div>
    </footer>
    
</aside>