<div class="requests-container">
    <h1>Заявки</h1>
    <tui-textfield iconEnd="@tui.search" [style.width]="'20rem'" [style.margin-top]="'2rem'">
        <label tuiLabel>Номер заявки</label>
        <input placeholder="Введите номер заявки" tuiTextfield [(ngModel)]="value" />
    </tui-textfield>
</div>

<table tuiTable class="table tui-space_top-5" [columns]="columns" [style.width]="'100%'"
    [style.border-top-left-radius]="'1rem'" [style.border-top-right-radius]="'1rem'" [style.overflow]="'hidden'">
    <thead>
        <tr>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Номер заявки</th>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Дата создания</th>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Статус</th>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Контактный телефон
            </th>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Комментарий</th>
            <th tuiTh [resizable]="true" [style.background-color]="'#E4002B'" [style.color]="'#fff'">Действия</th>
        </tr>
    </thead>

    <tbody tuiTbody>
        <tr *ngFor="let item of data">
            <td tuiTd>
                <p>{{ item.id }}</p>
            </td>
            <td tuiTd>
                <p>{{ item.creationDate }}</p>
            </td>
            <td tuiTd>
                <p>{{ item.status }}</p>
            </td>
            <td tuiTd>
                <p>{{ item.contactNumber }}</p>
            </td>
            <td tuiTd>
                <p>{{ item.comment }}</p>
            </td>

            <td tuiTd>
                <span tuiStatus>
                    <button appearance="action" iconStart="@tui.pencil" size="s" tuiIconButton type="button"
                        [style.color]="'#FFB134'">
                        Изменить
                    </button>
                    <button appearance="action" iconStart="@tui.trash" size="s" tuiIconButton type="button"
                        [style.color]="'#E4002B'">
                        Удалить
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>