<main>
  <div class="tui-text_h4 tui-space_top-5 tui-space_bottom-5">Главное меню</div>

  <div class="modules-list">
    @for (module of modules; track module.name) {
    <div
      tuiCardLarge
      tuiAppearance="floating"
      [style.border]="'0.5px solid #d3d3d3'"
    >
      <div
        tuiHeader
        [style.display]="'flex'"
        [style.justify-content]="'space-between'"
        [style.align-items]="'center'"
      >
        <h2 tuiTitle>{{ module.name }}</h2>
        <tui-icon icon="@tui.{{ module.icon }}" [style.color]="'#000'" />
      </div>
      <div [style.display]="'flex'" [style.flex-direction]="'column'">
        <span tuiSubtitle>{{ module.description }}</span>
        <button
          size="m"
          tuiButton
          type="button"
          [style.color]="'#fff'"
          [style.margin-top]="'1rem'"
          [style.background-color]="'#EB3B43'"
          [routerLink]="['/dashboard', module.url]"
        >
          Перейти
        </button>
      </div>
    </div>
    }
  </div>
</main>
