<div *ngIf="loading$ | async" class="tui-space_top-5 loading">Загрузка...</div>

<div *ngIf="error$ | async" class="tui-space_top-5" [style.color]="'#E4002B'">
  {{ error$ | async }}
</div>

<div *ngIf="(amenities$ | async)?.length === 0" class="not-found-message">
  Справочник "Дополнительные услуги" пуст
</div>

<table
  *ngIf="
    !(loading$ | async) &&
    !(error$ | async) &&
    !((amenities$ | async)?.length === 0)
  "
  tuiTable
  class="table tui-space_top-5"
  [columns]="columns"
  [style.width]="'100%'"
  [style.border-top-left-radius]="'1rem'"
  [style.border-top-right-radius]="'1rem'"
  [style.overflow]="'hidden'"
>
  <thead>
    <tr>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Номер услуги
      </th>
      <th
        tuiTh
        [resizable]="true"
        [style.background-color]="'#E4002B'"
        [style.color]="'#fff'"
      >
        Наименование
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Стоимость дополнительной услуги
      </th>
      <th
        tuiTh
        [resizable]="true"
        [style.background-color]="'#E4002B'"
        [style.color]="'#fff'"
      >
        Действия
      </th>
    </tr>
  </thead>
  <tbody tuiTb>
    <tr *ngFor="let item of amenities$ | async">
      <td tuiTd>
        <p>{{ item.amenityId }}</p>
      </td>

      <td tuiTd>
        <p>{{ item.amenityTitle }}</p>
      </td>

      <td tuiTd>
        <p>{{ +item.amenityPrice | tuiFormatNumber | async }} {{ 'RUB' | tuiCurrency }}</p>
      </td>

      <td tuiTd>
        <span tuiStatus>
          <button
            appearance="action"
            iconStart="@tui.pencil"
            size="s"
            tuiIconButton
            type="button"
            [style.color]="'#FFB134'"
            (click)="editAmenity(amenityDialog, item)"
          >
            Изменить
          </button>
          <button
            appearance="action"
            iconStart="@tui.trash"
            size="s"
            tuiIconButton
            type="button"
            [style.color]="'#E4002B'"
            (click)="confirmAmenityRemove(item.amenityId)"
          >
            Удалить
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #amenityDialog let-observer>
  <h1 tuiHeader>
    {{ isEditMode ? "Редактирование" : "Создание" }} дополнительной услуги
  </h1>
  <form [formGroup]="amenityForm">
    <div
      [style.display]="'grid'"
      [style.grid-template-rows]="'1fr 1fr 1fr'"
      [style.gap]="'1rem'"
      [style.margin-top]="'2rem'"
    >
      <tui-textfield iconEnd="@tui.hash">
        <label tuiLabel>Номер доп.услуги</label>
        <input
          placeholder="Введите номер услуги"
          tuiTextfield
          formControlName="amenityId"
        />
      </tui-textfield>
      <tui-textfield iconEnd="@tui.captions">
        <label tuiLabel>Наименование</label>
        <input
          placeholder="Введите наименование услуги"
          tuiTextfield
          formControlName="amenityTitle"
        />
      </tui-textfield>
      <tui-textfield iconEnd="@tui.badge-russian-ruble">
        <label tuiLabel>Стоимость услуги</label>
        <input
          placeholder="Введите стоимость услуги"
          tuiInputNumber
          [postfix]="' ' + ('RUB' | tuiCurrency)"
          formControlName="amenityPrice"
        />
      </tui-textfield>
    </div>
    <div
      [style.display]="'flex'"
      [style.align-items]="'center'"
      [style.justify-content]="'space-between'"
      [style.margin-top]="'2rem'"
    >
      <button
        size="m"
        tuiButton
        type="button"
        (click)="observer.complete()"
        [style.width]="'45%'"
        [style.background-color]="'#F74C54'"
      >
        Закрыть
      </button>
      <button
        size="m"
        tuiButton
        type="button"
        [style.width]="'45%'"
        [style.background-color]="'#E4002B'"
        [disabled]="amenityForm.invalid"
        [loading]="loading$ | async"
        (click)="submit(observer)"
      >
        {{ isEditMode ? "Сохранить" : "Создать" }}
      </button>
    </div>
  </form>
</ng-template>
