<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  [formGroup]="form"
  [style.max-width.rem]="32"
  [style.margin]="'100px auto'"
>
  <header tuiHeader>
    <h2 tuiTitle class="tui-text_h1">Вход в систему</h2>
    <span tuiAccessories>
      <tui-segmented>
        <button type="button" (click)="setAuthorizationType('login')">
          Авторизация
        </button>
        <button type="button" (click)="setAuthorizationType('registration')">
          Регистрация
        </button>
      </tui-segmented>
    </span>
  </header>
  <tui-notification appearance="warning">
    <h3 tuiTitle>
      Authenticity required
      <span tuiSubtitle>Please be honest and use your real data</span>
    </h3>
  </tui-notification>
  <ng-container *ngIf="this.authorizationType === 'login'">
    <tui-textfield>
      <label tuiLabel>E-mail</label>
      <input
        formControlName="email"
        placeholder="john@wick.com"
        tuiTextfield
        type="email"
      />
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Пароль</label>
      <input formControlName="password" tuiTextfield type="password" />
    </tui-textfield>
  </ng-container>
  <ng-container *ngIf="this.authorizationType === 'registration'">
    <tui-textfield>
      <label tuiLabel>Имя</label>
      <input formControlName="firstName" placeholder="Дмитрий" tuiTextfield />
    </tui-textfield>
    <tui-error
      formControlName="firstName"
      [error]="[] | tuiFieldError | async"
    />
    <tui-textfield>
      <label tuiLabel>Фамилия</label>
      <input formControlName="lastName" placeholder="Смертин" tuiTextfield />
    </tui-textfield>
    <tui-error
      formControlName="lastName"
      [error]="[] | tuiFieldError | async"
    />

    <tui-textfield>
      <label tuiLabel>E-mail</label>
      <input
        formControlName="email"
        placeholder="john@wick.com"
        tuiTextfield
        type="email"
      />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Контактный телефон</label>
      <input
        [maskito]="options"
        formControlName="phoneNumber"
        tuiTextfield
        type="phone"
      />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Пароль</label>
      <input formControlName="password" tuiTextfield type="password" />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Подтвердите пароль</label>
      <input formControlName="passwordConfirm" tuiTextfield type="password" />
    </tui-textfield>

    <label tuiLabel>
      <input formControlName="personalData" tuiSwitch type="checkbox" />
      <div>
        Я даю свое согласие на обработку
        <a
          href="https://azimuthotels.com/content/policy/3_Consent_processing.pdf"
          tuiLink
        >
          Персональных данных</a
        >
        и согласен с
        <a
          href="https://azimuthotels.com/content/policy/1_Confidencial_policy.pdf"
          tuiLink
          >Политикой конфиденциальности</a
        >
        и
        <a
          href="https://azimuthotels.com/content/pdf/hotel-reservation-rules-ru.pdf"
          tuiLink
          >Правилами бронирования</a
        >
      </div>
      <tui-icon tuiTooltip="We will not send you spam, pinky promise!" />
    </label>
    <label tuiLabel>
      <input
        formControlName="registrationAgreement"
        tuiSwitch
        type="checkbox"
      />
      <div>
        Я регистрируюсь в программе лояльности, чтобы бронировать проживание на
        сайте по льготным тарифам, получать выгодные персональные предложения от
        AZIMUT Bonus и
        <a
          href="https://azimuthotels.com/content/policy/4_Consent_mailings.pdf"
          tuiLink
          >рекламные рассылки</a
        >
      </div>
    </label>
  </ng-container>
  <footer>
    <button appearance="secondary" tuiButton type="button">Закрыть</button>
    <button tuiButton type="submit">Войти</button>
  </footer>
</form>
