<div *ngIf="loading$ | async" class="tui-space_top-5 loading">Загрузка...</div>

<div *ngIf="error$ | async" class="tui-space_top-5" [style.color]="'#E4002B'">
  {{ error$ | async }}
</div>

<div *ngIf="(rooms$ | async)?.length === 0" class="not-found-message">
  Справочник "Гостиничные номера" пуст
</div>

<table
  *ngIf="
    !(loading$ | async) &&
    !(error$ | async) &&
    !((rooms$ | async)?.length === 0)
  "
  tuiTable
  class="table tui-space_top-5"
  [columns]="columns"
  [style.width]="'100%'"
  [style.border-top-left-radius]="'1rem'"
  [style.border-top-right-radius]="'1rem'"
  [style.overflow]="'hidden'"
>
  <thead>
    <tr>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Гостиничный номер
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Этаж
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Статус
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Категория
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Цена проживания за сутки
      </th>
      <th tuiTh [style.background-color]="'#E4002B'" [style.color]="'#fff'">
        Вместимость
      </th>
      <th
        tuiTh
        [resizable]="true"
        [style.background-color]="'#E4002B'"
        [style.color]="'#fff'"
      >
        Действия
      </th>
    </tr>
  </thead>
  <tbody tuiTb>
    <tr *ngFor="let item of rooms$ | async">
      <td tuiTd>
        <p>{{ item.roomId }}</p>
      </td>

      <td tuiTd>
        <p>{{ item.stage }}</p>
      </td>

      <td tuiTd>
        <p>{{ item.status }}</p>
      </td>

      <td tuiTd>
        <p>{{ item.roomCategory.title }}</p>
      </td>

      <td tuiTd>
        <p>{{ item.roomCategory.pricePerNight  }} {{ 'RUB' | tuiCurrency }}</p>
      </td>
      <td tuiTd>
        <p>{{ item.roomCategory.capacity }}</p>
      </td>

      <td tuiTd>
        <span tuiStatus>
          <button
            appearance="action"
            iconStart="@tui.pencil"
            size="s"
            tuiIconButton
            type="button"
            [style.color]="'#FFB134'"
            (click)="editRoom(roomDialog, item)"
          >
            Изменить
          </button>
          <button
            appearance="action"
            iconStart="@tui.trash"
            size="s"
            tuiIconButton
            type="button"
            [style.color]="'#E4002B'"
            (click)="confirmRoomRemove(item.roomId)"
          >
            Удалить
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #roomDialog let-observer>
  <h1 tuiHeader>
    {{ isEditMode ? "Редактирование" : "Создание" }} гостиничного номера
  </h1>
  <form [formGroup]="roomForm">
    <div
      [style.display]="'grid'"
      [style.grid-template-columns]="'1fr 1fr'"
      [style.grid-template-rows]="'1fr 1fr'"
      [style.gap]="'1rem'"
      [style.margin-top]="'2rem'"
    >
      <tui-textfield iconEnd="@tui.hash">
        <label tuiLabel>Гостиничный номер</label>
        <input
          placeholder="Укажите гостиничный номер"
          tuiTextfield
          formControlName="roomId"
        />
      </tui-textfield>

      <tui-textfield iconStart="@tui.align-start-vertical">
        <label tuiLabel>Этаж</label>
        <input
          tuiInputNumber
          placeholder="Укажите этаж"
          [max]="12"
          [min]="1"
          [step]="1"
          formControlName="stage"
        />
      </tui-textfield>

      <tui-combo-box
        [formControl]="roomForm.get('roomCategory.title')"
        [stringify]="stringify"
        (ngModelChange)="onRoomCategoryChange($event)"
      >
        Категория номера
        <tui-data-list-wrapper
          *tuiDataList
          emptyContent="Не удалось найти"
          [itemContent]="stringify | tuiStringifyContent"
          [items]="roomCategories$ | async | tuiFilterByInput"
        />
      </tui-combo-box>

      <tui-textfield iconEnd="@tui.badge-russian-ruble">
        <label tuiLabel>Стоимость проживания</label>
        <input
          placeholder="Введите стоимость проживания"
          tuiInputNumber
          [postfix]="' ' + ('RUB' | tuiCurrency)"
          formControlName="pricePerNight"
        />
      </tui-textfield>
      <tui-textfield iconStart="@tui.memory-stick" [style.margin-bottom]="'2rem'">
        <label tuiLabel>Вместимость</label>
        <input
          postfix=" чел."
          tuiInputNumber
          placeholder="Укажите вместимость"
          [max]="12"
          [min]="1"
          [step]="1"
          formControlName="capacity"
        />
      </tui-textfield>
    </div>
    <!-- <tui-textfield [style.margin-block-end.rem]="1" [style.margin-top]="'2rem'">
      <label tuiLabel>Описание</label>
      <textarea
        formControlName="description"
        placeholder="Введите описание"
        tuiTextarea
        [limit]="100"
        [max]="6"
        [min]="3"
      ></textarea>
    </tui-textfield> -->
    <div
      [style.display]="'flex'"
      [style.align-items]="'center'"
      [style.justify-content]="'space-between'"
    >
      <button
        size="m"
        tuiButton
        type="button"
        (click)="observer.complete()"
        [style.width]="'45%'"
        [style.background-color]="'#F74C54'"
      >
        Закрыть
      </button>
      <button
        size="m"
        tuiButton
        type="button"
        class="tui-space_right-3"
        [style.width]="'45%'"
        [style.background-color]="'#E4002B'"
        [disabled]="roomForm.invalid"
        [loading]="loading$ | async"
        (click)="submit(observer)"
      >
        {{ isEditMode ? "Сохранить" : "Создать" }}
      </button>
    </div>
  </form>
</ng-template>
