<h1>
  Информационная система поддержки отдела приема и размещения гостей
  гостиничного комплекса на примере ООО «Азимут Хотелс Компани»
</h1>

<ng-container *ngIf="!isLoginMode">
  <form
    class="card flex flex-column align-items-center gap-4 bg-primary-200 py-5 w-25rem mt-0 mx-auto border-round-md"
  >
    <p-floatLabel class="w-20rem">
      <input
        class="w-full"
        pInputText
        id="firstName"
        [(ngModel)]="firstName"
        name="firstName"
      />
      <label for="firstName">Имя</label>
    </p-floatLabel>
    <p-floatLabel class="w-20rem">
      <input
        class="w-full"
        pInputText
        id="lastName"
        [(ngModel)]="lastName"
        name="lastName"
      />
      <label for="lastName">Фамилия</label>
    </p-floatLabel>
    <p-floatLabel *ngIf="hasMiddleName" class="w-20rem">
      <input
        pInputText
        class="w-full"
        id="middleName"
        [(ngModel)]="middleName"
        name="middleName"
      />
      <label for="middleName">Отчество</label>
    </p-floatLabel>
    <div class="flex flex-row align-items-center w-20rem">
      <p-inputSwitch
        [(ngModel)]="hasMiddleName"
        [ngModelOptions]="{ standalone: true }"
      />
      <label class="ml-2" for="email_input">Есть отчество</label>
    </div>
    <p-floatLabel class="w-20rem">
      <input
        class="w-full"
        pInputText
        type="email"
        [(ngModel)]="email"
        id="email_input"
        name="email"
      />
      <label for="email_input">Эл.почта</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputMask
        mask="+7 (999) 999-99-99"
        [(ngModel)]="phoneNumber"
        id="phoneNumber"
        name="phoneNumber"
        [style]="{ width: '20rem' }"
      />
      <label for="phoneNumber">Номер телефона</label>
    </p-floatLabel>
    <p-button
      label="Зарегистрироваться"
      class="w-20rem"
      [style]="{ width: '20rem' }"
    />
    <p-button
      label="Есть аккаунт? Авторизоваться"
      [link]="true"
      (onClick)="toggleForm()"
    />
  </form>
</ng-container>

<ng-container *ngIf="isLoginMode">
  <form
    class="card flex flex-column align-items-center gap-4 bg-primary-200 py-5 w-25rem mt-0 mx-auto border-round-md"
  >
    <p-floatLabel class="w-20rem">
      <input
        class="w-full"
        pInputText
        type="email"
        [(ngModel)]="email"
        id="email_input"
        name="email"
      />
      <label for="email_input">Эл.почта</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-password
        [(ngModel)]="password"
        [feedback]="false"
        [inputStyle]="{ width: '20rem' }"
      />
      <label for="password">Пароль</label>
    </p-floatLabel>
    <p-button label="Войти" class="w-20rem" [style]="{ width: '20rem' }" />
    <p-button
      label="Нет аккаунта? Зарегистрироваться"
      [link]="true"
      (onClick)="toggleForm()"
    />
  </form>
</ng-container>
