<div class="cleaning-container">
    <h1>Уборка гостиничных номеров</h1>
    <div [style.color]="'#fff'" [style.background-color]="'#E4002B'" [style.display]="'flex'"
        [style.align-items]="'center'" [style.border-radius]="'.5rem'" [style.width]="'40rem'"
        [style.margin-top]="'1rem'">
        <tui-icon icon="@tui.info" [style.margin-left]="'1rem'" />
        <p [style.margin-left]="'1rem'">Здесь вы можете просмотреть задания на уборку гостиничных номеров, назначенные
            на вас.
            После исполнения уборки, обязательно проставьте отметку о выполнении.</p>
    </div>
    <div class="cleaning-header" [style.display]="'flex'" [style.align-items]="'center'" [style.margin-top]="'2rem'">
        <tui-textfield iconEnd="@tui.search" [style.width]="'20rem'">
            <label tuiLabel>Номер задания</label>
            <input placeholder="Введите номер задания на уборку" tuiTextfield [(ngModel)]="value" />
        </tui-textfield>
        <button class="tui-space_left-5" size="l" tuiButton type="button" [style.background-color]="'#E4002B'"
            [style.color]="'#fff'" [style.aspect-ratio]="'1'" (click)="openDialog(createCleanTaskDialog)">
            <tui-icon icon="@tui.plus"></tui-icon>
        </button>
    </div>

    <div class="cleaning-tasks-list" [style.margin-top]="'2rem'">
        @for (cleaningTask of cleaningTasks; track cleaningTask.type) {
        <div tuiCardLarge tuiAppearance="floating">
            <div tuiHeader [style.display]="'flex'" [style.justify-content]="'space-between'"
                [style.align-items]="'center'">
                <h2 tuiTitle>{{cleaningTask.status}}</h2>
                <tui-icon icon="@tui.{{cleaningTask.status}}" [style.color]="'#000'" />
            </div>
            <div [style.display]="'grid'" [style.grid-template-columns]="'2fr 1fr'" [style.align-items]="'end'">
                <span tuiSubtitle>{{cleaningTask.description}}</span>
                <button size="m" tuiButton type="button" [style.color]="'#fff'" [style.background-color]="'#EB3B43'"
                    [routerLink]="['/cleaning', cleaningTask.id]">Открыть
                </button>
            </div>
        </div>
        }
    </div>
</div>



<ng-template #createCleanTaskDialog let-observer>
    <h1 tuiHeader>Создания задания на уборку</h1>
    <form>
        <div [style.display]="'grid'" [style.grid-template-columns]="'1fr 1fr'" [style.grid-template-rows]="'1fr 1fr'"
            [style.gap]="'1rem'" [style.margin-top]="'2rem'">
            <tui-textfield iconEnd="@tui.search">
                <label tuiLabel>Номер комнаты</label>
                <input placeholder="Введите номер комнанты" tuiTextfield [(ngModel)]="value" />
            </tui-textfield>
            <tui-textfield iconEnd="@tui.search">
                <label tuiLabel>Горничная</label>
                <input placeholder="Укажите горничную" tuiTextfield [(ngModel)]="value" />
            </tui-textfield>
            <tui-textfield iconEnd="@tui.search">
                <label tuiLabel>Вид уборки</label>
                <input placeholder="Выберите вид уборки" tuiTextfield [(ngModel)]="value" />
            </tui-textfield>
            <tui-textfield iconEnd="@tui.search">
                <label tuiLabel>Введите срок уборки</label>
                <input placeholder="Срок уборки" tuiTextfield [(ngModel)]="value" />
            </tui-textfield>
        </div>
        <tui-textfield [style.margin-block-end.rem]="1" [style.margin-top]="'2rem'">
            <label tuiLabel>Описание</label>
            <textarea placeholder="Введите описание" tuiTextarea [limit]="100" [max]="6" [min]="3"></textarea>
        </tui-textfield>
        <div [style.display]="'flex'" [style.align-items]="'center'" [style.justify-content]="'space-between'">
            <button size="m" tuiButton type="button" (click)="observer.complete()" [style.width]="'45%'"
                [style.background-color]="'#F74C54'">
                Закрыть
            </button>
            <button size="m" tuiButton type="button" class="tui-space_right-3" [style.width]="'45%'"
                [style.background-color]="'#E4002B'" (click)="submit()">
                Создать
            </button>
        </div>
    </form>
</ng-template>