<navheader></navheader>
<div [style.display]="'flex'">
  <navsidebar></navsidebar>
  <div class="tui-navigation-main__wrapper" [style.padding.rem]="1">
    <main 
      [style.z-index]="-1" 
      [style.border-radius.rem]="1"
      [style.overflow]="'hidden'"
      [style.background-color]="'var(--tui-base-01)'"
    >
      <!-- <nav compact tuiSubheader [style.position]="'sticky'">
        <tui-breadcrumbs [itemsLimit]="10">
          <ng-container *ngFor="let item of breadcrumbs; let last = last">
            <ng-container *ngIf="last">
              <strong *tuiItem tuiFade>
                {{ item }}
              </strong>
            </ng-container>
            <ng-container *ngIf="!last">
              <button *tuiItem tuiLink type="button">
                {{ item }}
              </button>
            </ng-container>
          </ng-container>
        </tui-breadcrumbs>
      </nav> -->
      <tui-combo-box [(ngModel)]="value">
        Find the best employees
        <input
            placeholder="Type a name"
            tuiTextfieldLegacy
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="items"
        />
    </tui-combo-box>
    </main>
  </div>
</div>
