<header tuiNavigationHeader [style.background-color]="'#E4002B'" [style.padding]="'2rem 1rem'" [style.z-index]="'1'">
  <hr />
  <tui-textfield>
    <input [tuiInputSearch]="results" />
    <ng-template #results>
      <!-- ... -->
    </ng-template>
  </tui-textfield>


  <button iconStart="@tui.bell" tuiIconButton type="button">
    Уведомления
    <tui-badge-notification />
  </button>
  <button iconStart="@tui.ellipsis" tuiIconButton type="button">More</button>
  <tui-avatar src="AI" />
</header>