aside[tuiNavigationAside] {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}

aside::before, aside::after {
    display: none;
}
 
header::after {
    display: none;
}

.role {
    background-color: black;
    padding: 2rem 1rem;
    margin-bottom: 12rem;

    &__name {
        font-size: 1.2rem;
    }
}
