aside[tuiNavigationAside]:before {
    box-shadow: none;
}

aside::before {
    display: none;
}
 
header::after {
    display: none;
}

.role {
    background-color: black;
    // width: 100%;
    margin-bottom: 12rem;
    padding: 2rem 1rem;

    &__name {
        font-size: 1.2rem;
    }

}