<aside 
  [style.height]="'100vh'" 
  [style.background-color]="'#E4002B'" 
  [style.position]="'fixed'"
  [style.padding-left]="'1rem'"
  [style.margin-top]="'-2.5rem'"
  [tuiNavigationAside]="true">

  <img src="../../assets/images/company-logo.svg" alt="logo" class="logo" [style.margin-bottom]="'1rem'">

  <a iconStart="@tui.send" tuiAsideItem [routerLink]="'/dashboard/requests'">Заявки</a>

  <a iconStart="@tui.book-open-check" tuiAsideItem [routerLink]="'/dashboard/bookings'">Бронирования</a>

  <a iconStart="@tui.key-round" tuiAsideItem [routerLink]="'/dashboard/search-rooms'">Номера</a>

  <a iconStart="@tui.paintbrush" tuiAsideItem [routerLink]="'/dashboard/cleaning'">Уборка</a>

  <a iconStart="@tui.chart-line" tuiAsideItem [routerLink]="'/dashboard/analytics'">Аналитика</a>

  <a iconStart="@tui.book-marked" tuiAsideItem [routerLink]="'/dashboard/references'">Справочники</a>
  <hr />
  <tui-aside-group>
    <button automation-id="setting" iconStart="@tui.settings" tuiAsideItem tuiChevron type="button">
      Настройки
      <ng-template>
        <button tuiAsideItem type="button">Профиль</button>
        <button tuiAsideItem type="button">Уведомления</button>
        <button tuiAsideItem type="button">Конфиденциальность</button>
      </ng-template>
    </button>
  </tui-aside-group>
</aside>